<div>
    <h2 id="page-heading">
        <span jhiTranslate="lastcrmApp.cliente.home.title">Clientes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-cliente" [routerLink]="['/cliente/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="lastcrmApp.cliente.home.createLabel">
            Create a new Cliente
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="clientes?.length === 0">
        <span jhiTranslate="lastcrmApp.cliente.home.notFound">No clientes found</span>
    </div>
    <div class="table-responsive" *ngIf="clientes?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nombre"><span jhiTranslate="lastcrmApp.cliente.nombre">Nombre</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="apellido1"><span jhiTranslate="lastcrmApp.cliente.apellido1">Apellido 1</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="apellido2"><span jhiTranslate="lastcrmApp.cliente.apellido2">Apellido 2</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nif"><span jhiTranslate="lastcrmApp.cliente.nif">Nif</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="genero"><span jhiTranslate="lastcrmApp.cliente.genero">Genero</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tlfMovil"><span jhiTranslate="lastcrmApp.cliente.tlfMovil">Tlf Movil</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tlfMovil2"><span jhiTranslate="lastcrmApp.cliente.tlfMovil2">Tlf Movil 2</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tlfFijo"><span jhiTranslate="lastcrmApp.cliente.tlfFijo">Tlf Fijo</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fax"><span jhiTranslate="lastcrmApp.cliente.fax">Fax</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="email1"><span jhiTranslate="lastcrmApp.cliente.email1">Email 1</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="email2"><span jhiTranslate="lastcrmApp.cliente.email2">Email 2</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fuenteNombre"><span jhiTranslate="lastcrmApp.cliente.fuente">Fuente</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let cliente of clientes ;trackBy: trackId">
                <td><a [routerLink]="['/cliente', cliente.id, 'view' ]">{{cliente.id}}</a></td>
                <td>{{cliente.nombre}}</td>
                <td>{{cliente.apellido1}}</td>
                <td>{{cliente.apellido2}}</td>
                <td>{{cliente.nif}}</td>
                <td jhiTranslate="{{'lastcrmApp.Genero.' + cliente.genero}}">{{cliente.genero}}</td>
                <td>{{cliente.tlfMovil}}</td>
                <td>{{cliente.tlfMovil2}}</td>
                <td>{{cliente.tlfFijo}}</td>
                <td>{{cliente.fax}}</td>
                <td>{{cliente.email1}}</td>
                <td>{{cliente.email2}}</td>
                <td>
                    <div *ngIf="cliente.fuenteId">
                        <a [routerLink]="['/fuente', cliente.fuenteId , 'view' ]" >{{cliente.fuenteNombre}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/cliente', cliente.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/cliente', cliente.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/cliente', { outlets: { popup: cliente.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="clientes?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
