<div>
    <h2 id="page-heading">
        <span jhiTranslate="lastcrmApp.cita.home.title">Citas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-cita" [routerLink]="['/cita/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="lastcrmApp.cita.home.createLabel">
            Create a new Cita
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="citas?.length === 0">
        <span jhiTranslate="lastcrmApp.cita.home.notFound">No citas found</span>
    </div>
    <div class="table-responsive" *ngIf="citas?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fecha"><span jhiTranslate="lastcrmApp.cita.fecha">Fecha</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="comentario"><span jhiTranslate="lastcrmApp.cita.comentario">Comentario</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="estado"><span jhiTranslate="lastcrmApp.cita.estado">Estado</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="agenteNombre"><span jhiTranslate="lastcrmApp.cita.agente">Agente</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let cita of citas ;trackBy: trackId">
                <td><a [routerLink]="['/cita', cita.id, 'view' ]">{{cita.id}}</a></td>
                <td>{{cita.fecha | date:'medium'}}</td>
                <td>{{cita.comentario}}</td>
                <td jhiTranslate="{{'lastcrmApp.Estado.' + cita.estado}}">{{cita.estado}}</td>
                <td>
                    <div *ngIf="cita.agenteId">
                        <a [routerLink]="['/agente', cita.agenteId , 'view' ]" >{{cita.agenteNombre}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/cita', cita.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/cita', cita.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/cita', { outlets: { popup: cita.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="citas?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
