<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-cita-heading" jhiTranslate="lastcrmApp.cita.home.createOrEditLabel">Create or edit a Cita</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lastcrmApp.cita.fecha" for="field_fecha">Fecha</label>
                    <div class="d-flex">
                        <input id="field_fecha" type="datetime-local" class="form-control" name="fecha" formControlName="fecha" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('fecha').invalid && (editForm.get('fecha').dirty || editForm.get('fecha').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('fecha').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('fecha').errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lastcrmApp.cita.comentario" for="field_comentario">Comentario</label>
                    <input type="text" class="form-control" name="comentario" id="field_comentario"
                           formControlName="comentario"/>
                    <div *ngIf="editForm.get('comentario').invalid && (editForm.get('comentario').dirty || editForm.get('comentario').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('comentario').errors.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 3999 }">
                        This field cannot be longer than 3999 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lastcrmApp.cita.estado" for="field_estado">Estado</label>
                    <select class="form-control" name="estado" formControlName="estado" id="field_estado">
                        <option value="PENDIENTE">{{'lastcrmApp.Estado.PENDIENTE' | translate}}</option>
                        <option value="REALIZADA">{{'lastcrmApp.Estado.REALIZADA' | translate}}</option>
                        <option value="CANCELADA">{{'lastcrmApp.Estado.CANCELADA' | translate}}</option>
                    </select>
                    <div *ngIf="editForm.get('estado').invalid && (editForm.get('estado').dirty || editForm.get('estado').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('estado').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="lastcrmApp.cita.agente" for="field_agente">Agente</label>
                    <select class="form-control" id="field_agente" name="agente" formControlName="agenteId">
                        <option *ngIf="!editForm.get('agenteId').value" [ngValue]="null" selected></option>
                        <option [ngValue]="agenteOption.id" *ngFor="let agenteOption of agentes; trackBy: trackAgenteById">{{agenteOption.nombre}}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('agenteId').invalid && (editForm.get('agenteId').dirty || editForm.get('agenteId').touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('agenteId').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
