<div>
    <h2 id="page-heading">
        <span jhiTranslate="lastcrmApp.agente.home.title">Agentes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-agente" [routerLink]="['/agente/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="lastcrmApp.agente.home.createLabel">
            Create a new Agente
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="agentes?.length === 0">
        <span jhiTranslate="lastcrmApp.agente.home.notFound">No agentes found</span>
    </div>
    <div class="table-responsive" *ngIf="agentes?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nombre"><span jhiTranslate="lastcrmApp.agente.nombre">Nombre</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="apellido1"><span jhiTranslate="lastcrmApp.agente.apellido1">Apellido 1</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="apellido2"><span jhiTranslate="lastcrmApp.agente.apellido2">Apellido 2</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="telefono"><span jhiTranslate="lastcrmApp.agente.telefono">Telefono</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let agente of agentes ;trackBy: trackId">
                <td><a [routerLink]="['/agente', agente.id, 'view' ]">{{agente.id}}</a></td>
                <td>{{agente.nombre}}</td>
                <td>{{agente.apellido1}}</td>
                <td>{{agente.apellido2}}</td>
                <td>{{agente.telefono}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/agente', agente.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/agente', agente.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/agente', { outlets: { popup: agente.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="agentes?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
